.header {
  &__top {
    background: var(--background);

    & > .container {
      max-width: 1170px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      & > .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & > .column {
          flex: 0 0 50%;
          max-width: 50%;
          color: var(--normal-color);
        }
      }
    }

    &__left {
      padding: 10px 0 13px;
      display: flex;
      gap: 20px;
      align-items: center;

      & > .mail_block {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      & > .line {
        height: 20px;
        width: 1px;
        background: #000000;
        opacity: 0.1;
      }

      & > .text {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    &__right {
      padding: 10px 0 13px;
      display: flex;
      gap: 10px;
      justify-content: end;
      align-items: center;

    }
  }

  & > .container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    & > .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & > .column {
        flex: 0 0 25%;
        max-width: 25%;

        &.large {
          color: aqua;
          flex: 0 0 50%;
        max-width: 50%;
        }
      }
    }
  }

  &__menu {
    padding: 24px 0;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      gap: 15px;

      li {
        list-style: none;
        display: inline-block;
        position: relative;

        &.active {

          a {
            color: var(--primary-color);
          }
        }

        &:hover {

          // .header__menu__dropdown {
          //   top: 30px;
          //   opacity: 1;
          //   visibility: visible;
          // }

          & > a {
            color: var(--primary-color);
          }
        }

        &:last-child {
            margin-right: 0;
        }

        a {
          font-size: 14px;
          color: var(--heading-color-2);
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          // @include transition(all, .3s);
          padding: 5px 0;
          display: block;
        }
      }
    }
  }

  &__title {
    flex: 0 0 auto;
    width: 40%;
    text-align: center;
    color: #34AD54;
    font-size: 2.5rem;
    font-weight: 700;

    & span {
      color: #f93
    }
  }

  &__cart {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;

    & > a {
      position: relative;
      width: 30px;
      height: 100%;
      display: block;

      & > svg {
        color: var(--normal-color);
      
      }

      & > span {
        height: 13px;
        width: 13px;
        background: #7fad39;
        font-size: 10px;
        color: #ffffff;
        line-height: 13px;
        text-align: center;
        font-weight: 700;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: -12px;
      }
    }

    &__price {
      font-size: 14px;
      color: var(--para-color);
      display: flex;
      gap: 5px;
      align-items: center;

      span {
        font-size: 18px;
        color: var(--heading-color-2);
        font-weight: 700;
      }
    }
  }

}
